@font-face {
  font-family: "Ravio Regular";
  src: local("Ravio Regular"),
    url("../fonts/Ravio-Regular.ttf") format("truetype");
  font-weight: 400;
}

body {
  font-family: "Ravio Regular";
  background-color: #f4f4f9;
}

.home-container {
  padding: 20px;
}

.home-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 40px;
}

.section-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.top-leaders {
  margin-bottom: 40px;
}

.leader-circles {
  display: flex;
  justify-content: space-around;
}

.leader {
  text-align: center;
  width: 100px;
}

.leader-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 10px;
  border: 5px solid #333;
}

.leader-name {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.leader-score {
  font-size: 0.9rem;
  color: #888;
}

.daily-task-progress {
  margin-bottom: 40px;
}

.task-progress {
  text-align: center;
}

.task-progress-text {
  font-weight: 500;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-bottom: 10px;
}

.filled-bar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px;
}

.task-progress-percent {
  font-size: 1rem;
  color: #333;
}

.points-balance {
  text-align: center;
}

.balance-details {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.total-points {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.points-changed {
  font-size: 1.2rem;
  color: #4caf50;
  font-weight: bold;
  margin-bottom: 5px;
}

.date {
  font-size: 1rem;
  color: #888;
}
