body {
  font-family: "Poppins";
  background-color: #f4f4f9;
}

.home-container {
  padding: 20px;
}

.home-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 40px;
}

.section-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.top-leaders {
  margin-bottom: 40px;
}

.leader-circles {
  display: flex;
  justify-content: space-around;
}

.leader {
  text-align: center;
  width: 100px;
}

.leader-img img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.leader-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 10px;
  border: 2px solid #333;
}

.leader-name {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.leader-score {
  font-size: 0.9rem;
  color: #888;
}

.daily-task-progress {
  margin-bottom: 40px;
}

.task-progress {
  text-align: center;
}

.task-progress-text {
  font-weight: 500;
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin-bottom: 10px;
}

.filled-bar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px;
}

.task-progress-percent {
  font-size: 1rem;
  color: #333;
}

.points-balance {
  text-align: left;
}

.balance-details {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #e4e4e441;
  border: 1px solid #888;
  padding: 10px 20px;
  border-radius: 10px;
}

.grid-section-2 {
  padding: 16px 0;
}

.total-points-num {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;
}

.total-points {
  margin-top: 0;
  font-size: 1rem;
  color: #888;
}

.points-changed {
  text-align: right;
  font-size: 1.5rem;
  color: #4caf50;
  font-weight: bold;
  margin-bottom: 0;
}

.date {
  margin-top: 0;
  text-align: right;
  font-size: 1rem;
  color: #888;
}

.logo {
  width: 100px;
  position: absolute;
  right: 20px;
  top: 55px;
}