
body {
  font-family: "Poppins";
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  z-index: 1000; 
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

.navbar button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.navbar button:hover {
  color: #4ef079;
  background-color: rgba(32, 100, 48, 0.1);
  transform: translateY(-2px);
}

.navbar button.active {
  color: #1c6720;
  font-weight: bold;
}

.content {
  padding-bottom: 60px;
}
